.saltMenuComponent {
  background: var(--salt-container-primary-background);
  border: var(--salt-size-border) var(--salt-container-borderStyle) var(--salt-selectable-borderColor-selected);
  overflow: hidden;
  overflow-y: auto;
  min-width: 10em;
  z-index: var(--salt-zIndex-popout);
}

.saltMenuComponent-root {
  background: transparent;
  border: none;
  color: var(--salt-content-primary-foreground);
  font-family: var(--salt-typography-fontFamily);
  font-size: var(--salt-text-fontSize);
  letter-spacing: var(--salt-text-letterSpacing);
  line-height: var(--salt-text-lineHeight);
}

.saltMenuComponent-item {
  color: var(--salt-text-primary-foreground);
  background: var(--salt-selectable-background);
  border: none;
  width: 100%;
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
  display: flex;
  justify-content: space-between;
  gap: var(--salt-spacing-100);
  position: relative;
  align-items: center;
  border-top: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  border-bottom: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  cursor: var(--salt-selectable-cursor-hover);
}

.saltMenuComponent-item:not(:disabled):not(:active):hover {
  background: var(--salt-selectable-background-hover);
}

.saltMenuComponent-item:active {
  background: var(--salt-selectable-background-selected);
  border-color: var(--salt-selectable-borderColor-selected);
}

.saltMenuComponent-item:disabled {
  color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltMenuComponent-root:focus-visible,
.saltMenuComponent-item:focus-visible {
  background: var(--salt-selectable-background-hover);
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-border) * -2);
}
.saltMenuComponent:focus-visible {
  outline: none;
}

.saltMenuComponent-item-content {
  display: flex;
  gap: var(--salt-spacing-100);
}
