.saltMenu {
  background: transparent;
  border: none;
  color: var(--salt-content-primary-foreground);
  font-family: var(--salt-typography-fontFamily);
  font-size: var(--salt-text-fontSize);
  letter-spacing: var(--salt-text-letterSpacing);
  line-height: var(--salt-text-lineHeight);
  display: block;
}

.saltMenu-item {
  color: var(--salt-text-primary-foreground);
  background: var(--salt-selectable-background);
  border: none;
  width: 100%;
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
  display: flex;
  justify-content: space-between;
  gap: var(--salt-spacing-100);
  position: relative;
  align-items: center;
  border-top: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  border-bottom: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  cursor: var(--salt-selectable-cursor-hover);
}

.saltMenu-item:focus-visible {
  background: var(--salt-selectable-background-hover);
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-border) * -2);
}

.saltMenu-item:not(:active):hover {
  background: var(--salt-selectable-background-hover);
}

.saltMenu-item:not(.saltMenu-item-disabled):active {
  background: var(--salt-selectable-background-selected);
  border-color: var(--salt-selectable-borderColor-selected);
}

.saltMenu-item-disabled,
.saltMenu-item.saltMenu-item-disabled:hover {
  background: var(--salt-selectable-background);
  color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltMenu-item:focus-visible {
  background: var(--salt-selectable-background-hover);
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-border) * -2);
}
